.item {
    padding: 10px;
    gap: 10px;
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.status {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}